<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="home"></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-header>
</ion-header>

<ion-content>

  <div class="background-container">

    <div class="background-filter">

   

    <ion-card>
      
     <ion-card-header>
       <ion-card-title>
        Página principal
       </ion-card-title>
     </ion-card-header>
     <ion-card-content>
       <ion-button routerLink="/resultados">
         Consultar solicitações
       </ion-button>
       
       <ion-button routerLink="/form">
        Nova solicitação
      </ion-button>
     </ion-card-content>
    </ion-card>
    </div>
  </div>

</ion-content>
