


<ion-content>
     
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="form01"></ion-back-button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
   Selecione o seu gestor:
          </ion-card-title>
          <div></div>
          <ion-card-subtitle>
          <strong>Selecione a opção correta!</strong>
          <div></div>
          <ion-list>
            <ion-radio-group value="biff">
              <ion-list-header>
                <ion-label>Gestores</ion-label>
              </ion-list-header>
          
              <ion-item>
                <ion-label>Karen</ion-label>
                <ion-radio slot="start" value="karen"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Rodrigo</ion-label>
                <ion-radio slot="start" value="rodrigo"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Lais</ion-label>
                <ion-radio slot="start" value="lais"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Matheus</ion-label>
                <ion-radio slot="start" value="matheus"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <div class="bottom-section">
            <ion-button routerLink="/form03" >Próximo</ion-button>
          </div>
       
 