<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="form02"></ion-back-button>
        </ion-buttons>
      
        </ion-toolbar>
  
        <ion-content class="ion-padding">
          <ion-list>
            
              <ion-label>
                <h2>
                  {{user.name}
                </h2>
                <p>{{user.name}}</p>
              </ion-label>
              
            </ion-item>
          </ion-list>
        
  
          <div class="bottom-section">
            <ion-button routerLink="/resultados" >Próximo</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  </ion-content>
  